.home{
    width: 100%;
    min-height: 100vh;
}
.homepage-video{
    width: 100%;
}
.video_home{
    width: 100%;
}
.banner{
    width: 100%;
    padding: 100px 0;
    height: 100vh;
}
.banner_text{
    width: 50%;
}
.banner_imgs{
    width: 50%;
    display: flex;
}
.banner_flex{
    display: flex;
    justify-content: space-between;
}
.banner_text_h3{
    font-size: 30px;
    margin-bottom: 20px;
    color: #0F417D;
    font-weight: 400;
}
.banner_text_h4{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
}
.banner_text_p{
    width: 90%;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
}
.banner_text_btn{
    width: 180px;
    height: 45px;
    margin-top: 50px;
    outline: none;
    border: none;
    background-color: #198754;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}
.banner_text_btn:hover{
    background-color: #fff;
    border: 2px solid #198754;
    color: #198754;
}
.banner_text_icon{
    font-size: 25px;
    transform: translateX(-10px);
}
.banner_imgs_one{
    width: 500px;
    height: 350px;
    position: absolute;
    right: 100px;
}
.banner_imgs_two{
    width: 350px;
    position: absolute;
    z-index: 1;
    outline: 20px solid #fff;
    margin-top: 220px;
    margin-left: 100px;
    height: 150px;
}
.container_body{
    width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}
.second_h2{
    font-size: 20px;
    font-weight: 100;
}
.number{
    padding: 20px;
    color: #0F417D;
}
.body_h4{
    font-size: 20px;
    padding: 30px 0;
}
.swiper_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.icons_flex{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.swiper_img{
    margin-left: 50px;
    width: 270px;
}
.swiper_text_h4{
    font-size: 25px;
    color: #0F417D;
    font-weight: 400;
    transform: translateY(-50px);
}
.swiper_text_h5{
    transform: translateY(-25px);
    font-size: 25px;
    font-weight: 500;
}
.icons_icon{
    font-size: 14px;
    font-weight: 100;
}
.icons_h4{
    font-size: 20px;
    margin-left: 5px;
}
.mySwiper{
    width: 100%;
}
.yangilik_h1{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 400;
}
.yangilik_flex{
    width: 100%;
    justify-content: space-around;
    border: 1px solid #198754;
    margin-bottom: 50px;
    padding: 20px 0;
    display: flex;
}
.yangilik_card{
    width: 300px;
    height: 450px;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
}
.yangilik_img{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
    transition: .2s;
}
.yangilik_img:hover{
    transform: scale(1.1);
}
.yangilik_h2{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.yangilik_btn{
    margin: auto;
    display: block;
    border: none;
    outline: none;
    background-color: #198754;
    font-size: 16.5px;
    color: #fff;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    transition: .2s;
}
.yangilik_btn:hover{
    background-color: #fff;
    color: #198754;
    border: 1px solid #198754;
}
.yangiliklar_all{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #198754;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    border-radius: 10px;
    margin-bottom: 50px;
}
.yangiliklar_all:hover{
    background: #fff;
    color: #198754;
    border: 2px solid #198754;
}
.all_icon{
    font-size: 24px;
    transform: translateX(-10px);
    font-weight: 100;
}
.yangiliklar_all{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex_btn{
    display: flex;
    justify-content: right;
}
.maps{
    width: 100%;
    height: 100vh;
}
.map_text{
    padding: 40px 60px;
    width: 40%;
    position: absolute;
    color: #fff;
    margin-top: -700px;
    right: 100px;
    height: 85vh;
    background-color: #198754;
}
.box{
    /* display: flex; */
    align-items: center;
}
.flex_box{
    display: flex;
}
.box_p{
    font-size: 20px;
    font-weight: 500;
}
.box_icon{
    transform: translateX(-10px);
    font-size: 20px;
}
.box_iconn{
    transform: translateX(-10px);
}
.href{
    font-size: 20px;
}
.icon{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}