.yangiliklar_h2{
    position: absolute;
    top: 180px;
    font-size: 40px;
    color: #198754;
}
.unique_page_img{
    margin-bottom: 20px;
    height: 25vh;
    width: 100%;
    background-color: black;
    object-fit: cover;
    background-size: cover;
    opacity: 1; 
    pointer-events: none; 
}
.dark{
    width: 100%;
    height: 25vh;
    background-color: black;
}
.logo{
    position: absolute;
    top: 140px;
    color: #fff ;
}
.yangilik_page{
    width: 23%;
    padding: 0;
    border-radius: 10px;
    height: 500px;
    border: none;
    margin-top: 50px;
}
.yangilik_img{
    border-radius: 30px;
}
.yangiliklar_flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.imgs{
    height: 250px;
    object-fit: cover;
    background-size: cover;
}
