*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  list-style: none;
}
.container{
  width: 1240px;
  margin: auto;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.banner_textsss {
  animation: slideInLeft 1.5s ease-out forwards;
}

.banner_imgsssss {
  animation: slideInRight 1.5s ease-out forwards;
}
/* Define the keyframes for the animations */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.swiper_imgssss {
  animation: slideInLeft 2.5s ease-out forwards;
}

.swiper_textssss {
  animation: slideInRight 2.5s ease-out forwards;
}


.kompaniya_h4{
  position: absolute;
  font-size: 35px;
  color: #198754;
  margin-top: -100px;
}
.kompaniya_h1{
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.kompaniya_p{
  font-size: 18px;
  margin-bottom: 20px;
}
.kompaniya_img{
  width: 100%;
  height: 100vh;
  margin-bottom: 20px;
}
.kompaniya_desc{
  font-size: 18px;
}
.kompaniya_img_small{
  width: 100%;
  height: 80vh;
  margin-bottom: 10px;
}
.kompaniya_img_very_small{
  width: 70%;
  height: 80vh;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
.kompaniya_bottom_h1{
  font-size: 25px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
}
.kompaniya_item{
  font-size: 21px;
  margin-bottom: 5px;
}
.table-container {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
  padding: 50px 0;
}

.styled-table {
  width: 100%;
  height: 300px;
  border-collapse: collapse;
}

.styled-table th,
.styled-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.styled-table th {
  background-color: #e1bee7;
  color: purple;
  text-align: center;
  font-size: 20px;
}

.styled-table td {
  font-size: 18px;
  line-height: 1.5;
}
.maqsad_h3{
  text-align: center;
  font-size: 24px;
  color: #198754;
  margin-bottom: 20px;
  margin-top: 20px;
}
.styled-table-container {
  margin: 20px;
  font-family: 'Arial', sans-serif;
}

.header .heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header .subheading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header .section-heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th,
.styled-table td {
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
  vertical-align: top;
}

.styled-table th {
  background-color: #f3eef7;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.styled-table td {
  font-size: 14px;
  line-height: 1.5;
}

.styled-table .icon {
  margin-bottom: 10px;
}

.styled-table .icon img {
  width: 30px;
  height: 30px;
}
@media (max-width: 768px) {
  .styled-table th, .styled-table td {
    font-size: 12px;
    padding: 10px;
  }

  .header .heading, .header .subheading, .header .section-heading {
    font-size: 14px;
  }
}
.kuzatuv_h3{
  font-size: 20px;
}
.kuzatuv_flex{
  padding: 100px 0;
}
.cart_flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart{
  width: 260px;
  margin-bottom: 50px;
  min-height: 50vh;
  overflow: hidden;
}
.cart_img{
  transition: .2s;
  width: 100%;
  margin-bottom: 20px;
}
.cart_img:hover{
  transform: scale(1.1);
  border-radius: 20px;
}
.tuzilma_img{
  width: 80%;
  margin: auto;
  display: block;
  height: 80vh;
  padding-top: 50px 0;
}
.rivoj_btn{
  width: 50%;
  height: 30px;
  outline: none;
  background-color: #fff;
  color: #198754;
  border: 1px solid #198754;
  font-size: 20px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 100px;
}
.atrof_img{
  width: 100%;
  height: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
} 
.kor_table {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 100px;
}
.kor_table tr {
  border: 1px solid black;
}
.kor_table tr td{
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
.kor_h4{
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  margin-top: 20px;
}
.all_table{
  border: 1px solid black;
  width: 100%;
  margin-bottom: 100px;
}
.all_table tr{
  border: 1px solid black;
}
.all_table tr td{
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}
.all_table tr th{
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}
.all_table tr td{
  width: 50%;
}
.all_table tr td a{
  text-decoration: none;
  color: #198754;
}
.muhim_table{
  width: 100%;
  border: 1px solid black;
  margin-bottom: 100px;
}
.muhim_table tr{
  border: 1px solid black;
}
.muhim_table tr td{
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.muhim_table tr th{
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.muhim_table tr td a{
  text-decoration: none;
  color: #198754;
}
.kor_h3{
  font-size: 20px;
  width: 70%;
  margin: auto;
  margin-top: 20px;  
  margin-bottom: 10px;
}
.dividend_table{
  width: 100%;
  border: 1px solid black;
  margin-bottom: 100px;
}
.dividend_table tr{
  border: 1px solid black;
}
.dividend_table tr td,
.dividend_table tr th{
  border: 1px solid black;
  font-size: 18px;
  padding: 5px;
  text-align: center;
}
.hisobot_table{
  border: 1px solid black;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 20px;
}
.hisobot_table tr{
  border: 1px solid black;
}
.hisobot_table tr td{
  width: 50%;
}
.hisobot_table tr td,
.hisobot_table tr th{
  border: 1px solid black;
  font-size: 18px;
  padding: 5px;
  text-align: center;
}
.hisobot_table tr td a{
  text-decoration: none;
  color: #198754;
}
.tanlov_flex{
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tanlov_box{
  width: 640px;
  border: 1px solid #198754;
  padding: 20px;
  margin-bottom: 20px;
}
.tanlov_h3_dod{
  font-size: 20px;
  color: #198754;
  margin-bottom: 20px;
}
.tanlov_box_h4{
  font-size: 18px;
}
.tanlov_box a{
  text-decoration: none;
  font-size: 20px;
  color: #198754;
}
.jamiyat{
  text-align: center;
  padding: 100px 0;
}
.bosh_h4{
  margin-top: -200px;
}
.bosh_flex{
  width: 100%;
  box-shadow: 0 0 2px #0008;
  border-radius: 20px;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.bosh_h3{
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}
.bosh_inp{
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-color: #eee;
  font-size: 18px;
  font-weight: 100;
  padding-left: 10px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 6px;
}
.bosh_inp::placeholder{
  color: black;
}
.bosh_btn{
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  text-align: center;
  font-weight: 100;
  background-color: #198754;
  color: #fff;
  border-radius: 20px;
  height: 50px;
  transition: .2s;
}
.bosh_btn:hover{
  background-color: #fff;
  color: #198754;
  border: 1px solid #198754;
}
.bosh_btn:active{
  transform: scale(0.98);
}
.xodim_h5{
  font-size: 20px;
  color: #198754;
  padding: 50px 0;
  cursor: pointer;
}
.yangilik_card{
  min-height: 70vh;
}
.yangilik_flex{
  border: 1px solid dodgerblue;
}
.komp_h3{
  font-size: 20px;
  padding: 50px 0;
  color: #198754;
  cursor: pointer;
}